<nav class="navbar">
    <div>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/add">Add</a>
            </li>
        </ul>
    </div>
</nav>