<!DOCTYPE html>
<html>
<head>
    <%- include ("../partials/header") %>
</head>

<body>
    <%- include ("../partials/nav") %>
    <div class="container">
        <div class ="display">
            <h1>Error</h1>

            <p><%= error %></p>

            <button id="return" onclick="history.back()">Go back</button>
        </div>
    </div>
</body>
</html>