<!DOCTYPE html>
<html>
<head>
    <%- include ("../partials/header") %>
</head>

<body>
    <%- include ("../partials/nav") %>
    <div class="container">
        <div class ="display">
            <h1>Database Results</h1>

            <ul>
                <% results.forEach(function(r) { %>
                    <li><a href="/user/<%= r.name.trim() %>"><%= r.name.trim() %></a></li>
                <% }); %>
            </ul>
        </div>
    </div>
</body>
</html>