<!DOCTYPE html>
<html>
<head>
    <%- include ("../partials/header") %>
</head>

<body>
    <%- include ("../partials/nav") %>
    <div class="container">
        <div class ="display">
            <h1>Success!</h1>
            
            <p><%= status %></p>

            <form action="/" class="">
                <input type="submit" value="Return to home"/>
            </form>
        </div>
    </div>
</body>
</html>