<!DOCTYPE html>
<html>
<head>
    <%- include ("../partials/header") %>
</head>

<body>
    <%- include ("../partials/nav") %>
    <div class="container">
        <div class ="display">
            <h1>Success!</h1>
            <form action="/" class="inline">
                <button class="home">Return to home</button>
            </form>
        </div>
    </div>
</body>
</html>