<!DOCTYPE html>
<html>
<head>
    <%- include ("../partials/header") %>
</head>

<body>
    <%- include ("../partials/nav") %>
    <% function capitalize(string) {
        // https://stackoverflow.com/questions/1026069/how-do-i-make-the-first-letter-of-a-string-uppercase-in-javascript
        return string[0].toUpperCase() + string.substring(1)
    } %>
    <div class="container">
        <h1>Success!</h1>
        <% results.forEach(function(r) { %>
            <p>Person '<%= capitalize(r.name.trim()) %>' deleted'.</p>
        <% }); %>
        <form action="/" class="">
            <input type="submit" value="Return home"/>
        </form>
    </div>
</body>
</html>